*.obj
*.exe
!/tools/**/*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.swp
*.docstates
[Bb]in/
!/tools/gallio/bin/
[Db]ebug/
obj/
[Rr]elease/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
connectionString.*.config
log4net.*.config
!log4net.DEBUG.config
/build
src/Shell.CrossOrder.Web/Shell.CrossOrder.Web.Publish.xml
tools/CrudScaffolding/ScaffoldingGeneratorCommand.txt
*.*.config
AssemblyInfo.cs
/packages/*
!/packages/repositories.config
/src/test/TestWeb/Content/themes/
/src/test/TestWeb/Scripts/jquery-*.*
/src/test/TestWeb/Scripts/jquery.*.*
/src/test/TestWeb/Scripts/modernizr*.*
