<?xml version="1.0" encoding="utf-8"?>
<!--
    =======================================================
        Common user file which is run before MS targets
    =======================================================
-->
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" ToolsVersion="3.5">
</Project>
