<?xml version="1.0" encoding="utf-8"?>
<!--
    =================================================================
        Common file for VS and external build files by user
    =================================================================
-->
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" ToolsVersion="3.5">
    
    <!--                    Custom settings                   -->
    <PropertyGroup>
        <BuildDependsOn>
            $(BuildDependsOn);
            DeployAfterBuild
        </BuildDependsOn>
    </PropertyGroup>

    <ItemGroup>
        <DllDeploy Include="TKOPD">
            <Path>$(RootPath)..\..\..\..\Elligo\Elligo\Projects\TKOPD.Demo\trunk\lib\net\3.5\rod.Commons\</Path>
        </DllDeploy>
        <DllDeploy Include="nGrape">
            <Path>$(RootPath)..\..\..\..\Elligo\nGrape\source\Framework\trunk\lib\net\3.5\rod.Commons\</Path>
        </DllDeploy>
    </ItemGroup>
    
    <!-- Copy to multiply target folders excluding tests -->
    <!-- http://blogs.parivedasolutions.com/borrell/archive/2007/05/19/MSBuildMultipleDeployments.aspx -->
    <Target Name="DeployAfterBuild">
        <CreateItem Include="$(TargetDir)$(TargetName).*" Exclude="$(TargetDir)*Tests.*" AdditionalMetadata="ToDir=%(DllDeploy.Path)">
            <Output ItemName="DllFilesToDeploy" TaskParameter="Include"/>
        </CreateItem>
        <Copy
                SourceFiles="@(DllFilesToDeploy)"
                DestinationFolder="%(ToDir)\%(RecursiveDir)"
                ContinueOnError="true"
        />
    </Target>
</Project>
